[Desktop Entry]
Name=Nyxt
Comment=Be Productive
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=env WEBKIT_DISABLE_COMPOSITING_MODE=1 GDK_SYNCHRONIZE=1 nyxt %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=nyxt
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
StartupWMClass=nyxt
