.out
bubblejail/.local/share/bubblejail/instances/*/home/
*/.local/service/*/supervise/
*/.local/service/*/down
*/.local/service/*/log/supervise/
*/.local/service/*/log/main

/emacs/.config/emacs/mail/davmail.properties
