[Unit]
Description=Swayidle
Documentation=man:swayidle(1)
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/home/struan/.local/bin/swayidle
Restart=always

[Install]
WantedBy=sway-session.target
