*{
    font-family: "Roboto Mono";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0);
    color: #bbc6d9;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: rgba(187, 198, 217, 0.3);
    border: none;
}

#workspaces button.focused {
    color: #bbc6d9;
}

#cpu,
#memory,
#wireplumber.sink,
#wireplumber.source,
#battery,
#network {
    padding: 0 8px;
}

#clock {
    margin: 0 4px;
}

#battery.critical:not(.charging) {
    color: #bf616a;
}

tooltip {
    background: rgba(46, 52, 64, 1);
    border: 1px solid #bbc6d9;
}

tooltip label {
    color: #bbc6d9;
}

#workspaces button {
    margin: 0 1px;
    padding: 0;
}
