# Emacs keybindings
move_down  <C-n>
move_up    <C-p>
move_left  <C-b>
move_right <C-f>

goto_page_with_page_number <A-g>g
goto_end <A-S-<greater>>
goto_beginning <A-S-<less>>

screen_down <C-v>
screen_up <A-v>

goto_toc <A-o>

search <C-s>
next_item s
previous_item r

copy <A-y>

command <A-x>

open_document <C-x><C-f>
open_prev_doc <C-x><C-r>